.social-login {
	margin-top: 10px;
	padding: 0;
	bottom: 0;
	display: none;
}
.social-login.open {
	display: block;
}
.social-login.fixed-banner {
	text-align: center;
	position: fixed;
	width: 100%;
	background: rgba(135, 31, 148, 1);
	border-top: 1px solid #ffffff;
	padding-bottom: 10px;
}

.social-login {
	color: white;
}
.social-login label {
	cursor: pointer;
}
.social-login h3 {
	text-shadow: 2px 2px 5px #4F0050;
}

.social-login.expanded {
	background-color: #fff;
	border-top: 1px solid rgba(135, 31, 148, 1);
}

.social-login .close {
	font-size: 21px;
	cursor: pointer;
	margin: 5px 10px 5px 5px;
	float: right;
	background: none;
}

.social-login .close:hover {
	opacity: 0.8;
}

.social-login .container {
	padding: 30px 10px;
	margin: 0px auto;
}

.social-login .container .btn {
	width: 200px;
	margin: 10px;
}

.social-login .container.ng-hide {
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.26s ease;
}

/*********************
* Social Buttons
*********************/

.btn {
	font-weight: bold;
	border-radius: 2px;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
}

.btn [class^='ion-'] {
	margin-right: 5px;
}

.btn .fa {
	margin-right: 5px;
}

.btn-google-plus {
	color: #fff;
	background-color: #dd4b39;
	border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
	color: #fff;
	background-color: #cb3927;
}

.btn-facebook {
	color: #fff;
	background-color: #3b5998;
	border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
	color: #fff;
	background-color: #294786;
}
