.social-login {
	border: 1px solid black;
	margin-top: 10px;
	padding: 0;
	color: white;
	bottom: 0;
}

.social-login.fixed-banner {
	text-align: center;
	position: fixed;
	width: 100%;
	background: rgba(135, 31, 148, 1);
	border-top: 1px solid #ffffff;
}

.social-login h3 {
	text-shadow: 2px 2px 5px #4F0050;
}

.social-login .social-panel {
	height: auto;
}

.social-login .social-buttons {
	background-color: #fff;
	transform: scaleY(1);
	padding: 40px 10px;
}

.social-login .social-buttons .btn {
	width: 200px;
	margin: 10px;
}

.social-login .social-buttons.ng-hide {
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.26s ease;
}

.social-login .social-label label {
	border: 1px solid #ffffff;
	padding: 5px 15px;
	margin-top: 20px;
}

/*********************
* Social Buttons
*********************/

.btn-google-plus {
	color: #fff;
	background-color: #dd4b39;
	border: 1px solid #d54331;
}

.btn-google-plus:hover,
.btn-google-plus:focus {
	color: #fff;
	background-color: #cb3927;
}

.btn-facebook {
	color: #fff;
	background-color: #3b5998;
	border: 1px solid #335190;
}

.btn-facebook:hover,
.btn-facebook:focus {
	color: #fff;
	background-color: #294786;
}
