.social-login {
	border: 1px solid black;
	margin-top: 10px;
	padding: 10px;
	color: white;
	bottom: 0;
}

.social-login.fixed-banner {
	text-align: center;
	position: fixed;
	width: 100%;
	background: rgba(135, 31, 148, 1);
	border-top: 1px solid #ffffff;
	padding: 10px 10px;
}

.social-login h3 {
	text-shadow: 2px 2px 5px #4F0050;
}

.social-login .social-panel {
	height: auto;
}
.social-login .social-panel.expanded {
	height: 200px;
}

.social-login .social-buttons {
	transform: scaleY(1);
}

.social-login .social-buttons.ng-hide {
	background-color: #eee;
	transform: scaleY(0);
	transform-origin: top;
	transition: transform 0.26s ease;
}

.social-login .social-label label {
	border: 1px solid #ffffff;
	padding: 5px 15px;
	margin-top: 20px;
}
